:root {
    --primary-color: #333333;
    --secondary-color: #4F4F4F;
    --footer-color: #BDBDBD;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 2.4rem;
}

header {
    width: 100%;

    h1 {
        font-family: 'Inconsolata', monospace;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 2.5rem;
        color: var(--primary-color);
        text-transform: uppercase;
        padding: 1rem 0;
    }
}